<div class="bg-white symfony_tpl_tool">
    <div class="me-heading border-bottom">
        <div class="row">
            <div class="me-hl col-xs-12 col-sm-8 col-md-9">
                <h1 class="content-heading">{% trans %}tool_symfony_tpl_title{% endtrans %}</h1>
                <p>{% trans %}tool_symfony_tpl_desc{% endtrans %}</p>
            </div>
            <div class="me-hr col-xs-12 col-sm-4 col-md-3">

            </div>
        </div>
    </div>
    <div class="spacing-x2 innerAll">
        {% block body %}{% endblock %}
    </div>
</div>